.navbar-main-container
{
  display: flex;
  justify-content: space-between;
}
.rightSideNavbar ul
{
  display: flex;
}
.leftsidebarlog
{
  margin: 20px;
}

.rightSideNavbar ul li 
{
   display: flex;
}

.rightSideNavbar ul li a
{
   margin: 20px;
   text-decoration: none;
   font-size: 20px;
   color:#000;
}

.Loaderclass
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}